body {
  line-height: 1.5;
  font-family: sans-serif;
  margin: 0;
  background-color: #ecf0f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d1dbe3' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

nav {
  background-color: cornflowerblue;
  padding: 4px 16px;
}

h1 {
  color: white;
  font-weight: heavy;
}

.card {
  background-color: aliceblue;
  max-width: 700px;
  margin: 30px auto;
  padding: 30px;
}

.card h2 {
  color: black;
  font-weight: bold;
}

#float {
  float: left;
}

.container {
  margin: 0 auto;
}

.btn {
  background-color: deepskyblue;
  border: none;
  padding: 10px 16px;
  font-weight: 600;
}

#deepsky {
  background-color: deepskyblue;
}

.photos {
  margin: 0 auto;
}
.photos img {
  margin: 10px;
}
